@charset "utf-8";
body{ position:relative; min-width:1200px;background:#ffffff;}
.wrapper_box{ width: 1200px; margin: 0 auto;overflow:hidden}
.content_box{width: 1100px;margin: 0 auto;overflow: hidden;}


/*头部导航*/
.header_outbox{ width: 100%; position: fixed;background-color:#f3f3f3; height:36px; border-bottom:1px solid #dcdcdc; color:#666666; font-size:13px}
.header_inbox{width:1100px; margin:0 auto;}
.header_inbox p{ float:left; line-height:36px; color:#666666;}
.header_inbox a{ float:left; line-height:36px; color:#666666;}
.header_inbox .login{ color:#b1191a}
.header_inbox img{ float:left; margin-top:11px}
.my_action{ float:right;}
.my_action li{ float:right}
.my_action li img{ margin-left:15px; margin-right:5px}

/*服务*/
#product_service{ height: 98px; margin:20px auto;}
#product_service .item{ width: 25%;}
#product_service li > p {
    width: 49px;
    height: 51px;
    margin: 22px 17px 0 25px;
    background-image: url(../images/common/mod-list.png);
    float: left;
}
#product_service li:nth-of-type(1) > p { background-position: -0px 0px;}
#product_service li:nth-of-type(2) > p { background-position: -0px -150px;}
#product_service li:nth-of-type(3) > p { background-position: -0px -100px;}
#product_service li:nth-of-type(4) > p { background-position: -0px -50px;}
/*图旁的文字左浮动*/
#product_service li > div {
    float: left;
}

/*图旁的文字第一行*/
#product_service li > div > p:nth-of-type(1) {
    margin-top: 26px;
    font-size: 16px;
    font-weight: bold;
    color: #1f1f1f;
    line-height: 26px;
}

/*图旁的文字第二行*/
#product_service li > div > p:nth-of-type(2) {
    font-size: 12px;
    color: #424242;
}


/*底部*/
.footerbox{border-top:1px solid #dcdcdc;}
.footer{background-color: #b1191a ;padding-top:30px;padding-bottom:50px;  overflow:hidden}

.footerinside{ float:left; padding-left:20px; padding-right:120px;}
.footerinside h1{ color:#fff; font-size:16px; line-height:30px}
.footerinside a{ color:#fff; font-size:12px; display:block; padding:4px 0}
#currentfooterInside{ float:left; padding-left:80px; padding-right:46px;}
.copyright_bgcolor{background-color:#f3f3f3;}
.copyright{color:#4c4c4c; text-align:center;padding:20px 0px; }



/*头部Logo和搜索开始*/
.action_search_box { overflow: hidden; padding-top: 18px;padding-left:100px;}

.logo {
    background-image: url(../images/common/logo.png);
    background-repeat: no-repeat;
    display: block;
    width: 199px;
    height: 60px;
    float: left;
    margin-right: 132px
}

.inputbox {
    float: left;
    height: 58px;
    padding-top: 2px;
    width: 540px;
    line-height: 58px;
}

.inputbox input {
    line-height: 35px;
}

.inputbox input {
    width: 438px;
    height: 35px;
    border: #b1191a 2px solid;
    font-size: 14px;
    color: #333333;
    padding-left: 4px;
    outline: none;
    float: left
}

.searchbtn {
    width: 84px;
    background-color: #b1191a;
    height: 35px;
    font-size: 13px;
    display: block;
    line-height: 35px;
    float: left;
    text-align: center;
    color: #ffffff;
}

.hotword {
    float: none;
    line-height: 19px;
    clear: both;
    color: #999999;
    width: 524px;
    padding-top: 4px
}

.hotword a {
    color: #999999;
    border-right: 1px #c2c1c1 solid
}

.telephonenumber { 
	margin-left: 150px;
	float: left;
	padding-top:10px;
}

/*头部Logo和搜索结束*/


/*产品路径导航开始*/
.productnav { margin: 10px 0; }
.productnav span{ margin-right: 5px;}
.productnav span a{ color:#666666;}
/*产品路径导航结束*/

/**左侧栏*开始*/
.left_nav{width: 180px;background:#f6f6f6;height: auto; padding-bottom: 25px;}
.left_nav .title{color:#1a1a1a;font-size:16px;line-height: 50px;height: 50px;border-left:4px solid #b1191a ;font-weight: bold;margin-bottom: 10px;}
.left_nav .title .dashed{font-size:16px;border-top:1px dashed #BFBFBF;border-bottom:1px dashed #BFBFBF;padding-left: 15px;height: 48px;}
.left_nav .item{font-size: 14px;color: #4c4c4c;line-height: 37px;height: 37px;padding-left: 35px;}
.left_nav .item:hover{color: #41b6e7;}
.left_nav .active{color:#b1191a ;}
/*个人信息*/
.person_info{font-size: 12px;margin-top: 20px;margin-bottom: 30px;width: 140px;overflow: hidden;margin-left: auto;margin-right: auto;}
.person_info .head_img{width: 100px;height: 100px;margin-left: auto;margin-right: auto;}
.person_info .head_img img{width: 100%;height: 100%;}
.welcome_info{margin: 10px auto;width: 122px;color:#888888;text-align: center;margin-left: auto; margin-right: auto;}
.level_score{margin: 0 auto;width: 122px;}
.level_value,.score_value{color:#b1191a ;margin-left: 5px;}
/*左侧栏结束*/

/*右侧购物车商品*/
.shopcar_right_box{margin-left:15px; width:902px}
.shopcar_right_box h1{ font-size:20px; padding:0; margin:0; line-height:46px; color:#1a1a1a}

