@charset "UTF-8";

/*总的找回密码格式*/
.find_pwd_box{width: 800px;margin: 0 auto;margin-top: 42px;margin-bottom: 42px;overflow: hidden;height:390px;}

/*1 验证身份*/
//.safety_problem{display:none;}
/*头部格式*/
.forget_password{background-image:url(../images/common/wangjimima.png);background-size:500px 55px;background-repeat:no-repeat; display:block; width:500px; height:110px; float:left; margin-right:132px;font-size:22px;padding-top:6px;}
/*头部1 验证身份 标签格式*/
.forget_password p:nth-child(1){font-size:22px;color:#fff;padding-top:12px;padding-left: 20px;float: left;}
/*头部2 重置密码 标签格式*/
.forget_password p:nth-child(2){font-size:22px;color:#77b6f2;float:right;padding-top:12px;padding-right: 65px;}

/*- "为了您的账号安全请选择。。。。"这块*/
.forget_password+div{ font-weight:bold;font-size:18px;padding-left:10px;}
/*问题*/
.problem_item{overflow:hidden;margin-top:18px;padding_left:50px;}
.problem_item div{width:120px;font-size:16px; float:left; padding-left:10px;float:left;margin-top:3px;}
.problem_item input{float:left;line-height:30px;width:240px;padding-left:10px;border-radius:4px;font-size:16px;}
.problem_item p{font-weight:bold;font-size:16px; float:left; padding-left:10px;margin-top:3px;}

/**/
//.safe_tips{font-weight:bold;font-size:18px;padding-left:10px;}
/*“下一步”按钮*/
.find_pwd_btn{height: 40px;float: left;margin-left: 160px;border-radius: 4px;margin-top: 50px;font-size: 18px;padding-left: 10px;letter-spacing: 10px;background-color: #b1191a;font-weight: bold;color: #fff;width:170px;float:left;}



/*2 重置密码 默认隐藏*/
//.reset_password{display:none;}
/*头部格式*/
.re_password{background-image:url(../images/common/wangjimima1.png);background-size:500px 55px;background-repeat:no-repeat; display:block; width:500px; height:110px; float:left; margin-right:132px;font-size:22px;padding-top:6px;}
/*头部1 新密码 标签格式*/
.re_password p:nth-child(1){font-size:22px;color:#77b6f2;padding-top:12px;padding-left: 20px;float: left;}
/*头部2 确认密码  标签格式*/
.re_password p:nth-child(2){font-size:22px;color:#fff;float:right;padding-top:12px;padding-right: 65px;}

/*- "请重置。。。。"这块*/
.re_password+div{ font-weight:bold;font-size:18px;padding-left:10px;}




/*错误验证，默认隐藏*/
.error_tip{
    float: left;
    line-height: 33px;
    color:#ff0101;
    margin-left: 10px;
    display: none;
}

