@charset "utf-8";

/*导航栏格式*/
.nav{font-size:13px; color:#0000FF;}

/*产品类型区域格式*/
.list_content_box{border:1px solid #cccccc;}
.list_content_box>div{ overflow:hidden; background-color:#f1f0f0;border-bottom:1px solid #cccccc;}
.list_content_box>div:nth-child(2){ border:none;}
.list_content_box>div>p{float:left; font-size:14px; font-weight:bold; color:#383842; width:10%; text-align:center; padding:16px 0;}
.list_content_box>div>div{float:left;padding:14px 0px; background-color:#fff; width:90%;}
.list_content_box>div>div li{padding:0 20px; float:left;}
.list_content_box>div>div li a{padding:4px 8px; margin-top:-2px;display:block; color:#8c8c8c;}

/*配件类型区域格式*/
.parts_type>div{ overflow:hidden;}
.partsType01{color:#8c8c8c;margin: 10px 45px;line-height:48px;}
.parts_type p{float:left; font-size:12px; color:#383842; width:10%; text-align:center; padding:18px 0; margin-left:1.7%;}
.parts_type>div ul{margin: 12px 0px;}
.parts_type hr{background-color: #cccccc;margin: 5px 30px;}


/*产品列表区域格式*/
.probox{ width:1120px; margin:0 auto; margin-top:20px; overflow:hidden;}
.probox a{ width: 19.8%; height: 311px; float: left; display: inline; background: #ffffff; border-top: 1px solid #e9e7e7; 
			border-left: 1px solid #e9e7e7; border-bottom: 1px solid #e9e7e7; position: relative;}
.probox h1{margin-top: 10px ;font-size:20px; color:#ff4a00; margin-left:56px}
.probox h1 strong{ font-size:18px}
.probox h2{margin-top: 2px ;font-size:16px; color:#343434;margin-left:44px }
.probox img { position: absolute; top: 96px; left: 10px;}




/*底部分页区域格式*/
.page{ height: 32px; margin-top: 30px; margin-bottom: 50px; font-size: 14px; color: #898989; line-height: 32px; text-align: center;}
.page a,.page input{display: inline-block; }
.page>a{ width: 88px; height: 30px; margin-left: 4px; border: solid 1px #e5e5e5; }
.page>span>a{width: 30px; height: 30px; margin-left: 4px; border: solid 1px #e5e5e5;}
.page>a:hover,.page>span>a:hover,.page input:nth-child(2):hover {color: #fff; background: #0087ce;}
.page>span:nth-child(4){ margin-left: 8px; margin-right: 36px;}
//.page input:nth-of-type(1){width: 36px; height: 32px; margin: 0 8px; border: solid 1px #e5e5e5; text-align: center;}
//.page input:nth-of-type(2){ width: 58px; height: 32px; margin-left: 6px; border: solid 1px #e5e5e5; color: #545454; background: #fff;}



